.table-staff {
    border-collapse: collapse;
    table-layout: auto;
    width: auto;
    margin: 0 auto;
    border-collapse: collapse;
    padding: 5px;
    padding-left: 20px;
    white-space: nowrap;
}

.table-staff th {
    padding: 5px;
    width: 2ch;
    text-align: center;
    vertical-align: center;
}

.table-staff th:first-child {
    width: 200px;
    text-align: left;
}

.table-staff td {
    padding: 5px;
    display: table-cell;
    vertical-align: middle;
}

.table-staff td:first-child {
    text-align: left;
}


.table-staff td:not(:first-child), th:not(:first-child) {
    text-align: center;
    width: 4ch;
}