.navbar-nav {
    gap: 10px;
}

.navbar-brand {
    flex-shrink: 0;
}

@media (max-width: 990px) {
    .nav-link {
        padding: 0.5rem 0.75rem;
        white-space: nowrap;
    }
}

@media (max-width: 575px) {
    .navbar > .container-fluid > .d-flex {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-brand {
        margin-bottom: 0.5rem;
    }
}

.table tr:nth-child(even) {
    background-color: var(--bs-tertiary-bg);
}

.table caption {
    caption-side: top;
}

.list-view ul.schedule-list {
    list-style-type: none;
    padding: 0;
}

.list-view ul.schedule-list li {
    padding: 10px;
    border-bottom: 1px solid var(--bs-gray-300);
}

.table th {
    --bs-table-accent-bg: var(--bs-green);
    color: var(--bs-gray-200);
}

.table-view .schedule-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.table-view .schedule-grid div {
    padding: 20px;
    background-color: var(--bs-gray-200);
    border: 1px solid var(--bs-gray-300);
}

.grid-view td {
    padding: 0.1rem !important;
}

.grid-view span td {
    border: 0;
    padding: 0.0rem !important;
    padding-left: 0.2rem !important;
    padding-right: 0.2rem !important;
}

.child-table tr {
    background-color: transparent !important;
}

.btn-group .btn {
    background-color: var(--bs-body-bg);
    color: var(--bs-dark-text);
}

.btn-group .btn.active, .btn:hover {
    background-color: #22b272;
    border-color: #22b272;
    color: var(--bs-white);
}

.card-header h2 {
    font-weight: bold;
}

select {
    background-color:  var(--bs-body-bg);
    color: var(--bs-text);
 }