.navbar-nav {
    gap: 10px;
}

.navbar-brand {
    flex-shrink: 0;
}

@media (max-width: 990px) {
    .nav-link {
        padding: 0.5rem 0.75rem;
        white-space: nowrap;
    }
}

@media (max-width: 575px) {
    .navbar > .container-fluid > .d-flex {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-brand {
        margin-bottom: 0.5rem;
    }
}

.timetable-row:nth-child(even) {
    background-color: var(--bs-gray-100);
}

.timetable-row:hover {
    background-color: var(--bs-gray-200);
}

.table caption {
    caption-side: top;
}

.list-view ul.schedule-list {
    list-style-type: none;
    padding: 0;
}

.list-view ul.schedule-list li {
    padding: 10px;
    border-bottom: 1px solid var(--bs-gray-300);
}

.table-view .schedule-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.table-view .schedule-grid div {
    padding: 20px;
    background-color: var(--bs-gray-200);
    border: 1px solid var(--bs-gray-300);
}

.btn-group .btn {
    background-color: var(--bs-body-bg);
    color:var(--bs-dark-text);
}

.btn-group .btn.active, .btn:hover {
    background-color: #22b272;
    border-color: #22b272;
    color: var(--bs-white);
}