.table-view {
    border-collapse: collapse;
    table-layout: auto;
    width: auto;
    margin: 0 auto;
    border:1px твердый #303631;
    border-collapse:коллапс;
    padding:5px;
    padding-left: 20px;
}

.table-view th {
    color: #505c6d;
}
.table-view .first-column {
    white-space: nowrap;
    width: 8ch;
}

.table-view .other-column {
    width: 150px;
}