.table-view {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    margin: 0 auto;
    border:1px solid var(--bs-gray-dark);
    border-collapse: collapse;
    padding:5px;
    padding-left: 20px;
}

.table-view th {
    color: var(--bs-gray-700);
}

.table-view th, td {
    overflow: hidden;
    white-space: nowrap;
}

.table-view .first-column {
    white-space: nowrap;
    width: 8ch;
}

.table-view .other-column {
    width: 150px;
}