.navbar-nav {
    gap: 10px;
}

.navbar-brand {
    flex-shrink: 0;
}

@media (max-width: 990px) {
    .nav-link {
        padding: 0.5rem 0.75rem;
        white-space: nowrap;
    }
}

@media (max-width: 575px) {
    .navbar > .container-fluid > .d-flex {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-brand {
        margin-bottom: 0.5rem;
    }
}

.timetable-row:nth-child(even) {
    background-color: #f8f9fa;
}

.timetable-row:hover {
    background-color: #e9ecef;
}

.list-view ul.schedule-list {
    list-style-type: none;
    padding: 0;
}

.list-view ul.schedule-list li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.grid-view .schedule-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.grid-view .schedule-grid div {
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
}

.btn-group .btn {
    background-color: #ffffff;
    color:#343a40
}

.btn-group .btn.active, .btn:hover {
    background-color: #6c757d;
    border-color: #6c757d;
    color: white;
}