.table-staff {
    border-collapse: collapse;
    table-layout: auto;
    width: auto;
    margin: 0 auto;
    border:1px твердый #303631;
    border-collapse:коллапс;
    padding:5px;
    padding-left: 20px;
    font-weight: 700;
}
.table-staff th {
    border:10px твердый #303631;
    padding:5px;
    background:#22B978;
    font-weight: 700;
    width: 2ch;
    text-align: center;
}

.table-staff th:first-child {
    width: 200px;
    text-align: left;
}

.table-staff td {
    border:1px твердый #303631;
    padding:5px;
    font-weight: 700;
    display: table-cell;
    vertical-align: middle;
}

.table-staff td:first-child {
    text-align: left;
}


.table-staff td:not(:first-child), th:not(:first-child) {
    text-align: center;
    width: 4ch;
}