<div>
    <div class="row mb-3">
        <div class="col">
            <div class="btn-group" role="group" aria-label="Переключение вида">
                <button type="button" class="btn btn-secondary view-btn" id="group-view-btn">Группы</button>
                <button type="button" class="btn btn-secondary view-btn" id="prof-view-btn">Преподаватели</button>
                <button type="button" class="btn btn-secondary view-btn" id="room-view-btn">Аудитории</button>
            </div>
        </div>
    </div>
    <div class="card" id="table-container">
    </div>
    <script src="static/js/data_editor.js" type="module"></script>
</div>