<div class="container-fluid mt-4">
    <div class="row mb-3">
        <div class="col">
            <div class="btn-group" role="group" aria-label="Переключение вида">
                <button type="button" class="btn btn-secondary view-btn" id="table-view-btn">Таблица</button>
                <button type="button" class="btn btn-secondary view-btn" id="list-view-btn">Список</button>
            </div>
        </div>
    </div>
    <div class="card" id="schedule-container">
    </div>
    <script src="static/js/lesson_planner.js" type="module"></script>
</div>