<div class="container-fluid mt-4">
    <div class="row mb-3">
        <div class="col-md-auto">
            <div class="card">
                <div class="card-header bg-success text-white">
                    <h2 class="h4 mb-0">Добавить новое занятие</h2>
                </div>
                <div class="card-body">
                    <form id="timeslotForm">
                        <div class="mb-3">
                            <input type="date" class="form-control" id="lessonDate" />
                        </div>
                        <label for="lessonNumber" class="form-label">Номер пары</label>
                        <div class="mb-3 btn-group w-100" id="lessonNumber" role="group" aria-label="Номер пары">
                            <button type="button" class="btn btn-secondary">1</button>
                            <button type="button" class="btn btn-secondary">2</button>
                            <button type="button" class="btn btn-secondary">3</button>
                            <button type="button" class="btn btn-secondary">4</button>
                            <button type="button" class="btn btn-secondary">5</button>
                            <button type="button" class="btn btn-secondary">6</button>
                            <button type="button" class="btn btn-secondary">7</button>
                        </div>
                        <div class="mb-3">
                            <select class="form-select" id="timeslotGroupId" required>
                                <option value="" disabled selected>Группа</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <select class="form-select" id="timeslotCourseId" required>
                                <option value="" disabled selected>Предмет</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <select class="form-select" id="timeslotLessonTypeId" required>
                                <option value="" disabled selected>Вид занятия</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <select class="form-select" id="timesloRoomId" required>
                                <option value="" disabled selected>Аудитория</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-success w-100">
                            <i class="bi bi-plus-circle me-2"></i>Добавить занятие
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <div class="btn-group" role="group" aria-label="Переключение вида">
                <button type="button" class="btn btn-secondary view-btn" id="group-view-btn">Группа</button>
                <button type="button" class="btn btn-secondary view-btn" id="prof-view-btn">Преподаватель</button>
                <button type="button" class="btn btn-secondary view-btn" id="room-view-btn">Аудитория</button>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <div class="btn-group" role="group" aria-label="Переключение вида">
                <button type="button" class="btn btn-secondary view-btn" id="table-view-btn">Таблица</button>
                <button type="button" class="btn btn-secondary view-btn" id="list-view-btn">Список</button>
            </div>
        </div>
    </div>
    <div class="card" id="schedule-container">
    </div>
    <script src="static/js/lesson_planner.js" type="module"></script>
</div>